
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #201b2d;	
	font-size: 15px;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900; /*жирность букв*/
	padding: 0;
}

p {
	line-height: 1.6em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/*HEADER==========================================*/

.header {
	background-color: #362e4d;
	padding-top: 100px;
	padding-bottom: 240px;
	color: #fff;
}

.wrapper {
	display: flex; /*выравнивание элементов в ряд (тренд вёрстки - flexbox)*/
	justify-content: space-between; /*левый элемент к левому, правый к правому*/
}

.offer {
	margin-top: 176px;
	width: 490px;
}

.title {
	font-size: 36px;
}

.title span {
	color: #48ed8e;
}

.intro {
	margin-bottom: 37px;
	margin-top: 30px;
	width: 380px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background-color: #ed9619;
	color: #fff;
	border-radius: 100px;
	display: block;
	width: 207px;
	padding: 20px 0px;
	text-align: center;	
	text-decoration: none; /*убрать подчёркивание у ссылки*/
	cursor: pointer; /*лапка*/ 
	transition: all 0.5s ease; 
	/*анимировать: все свойства, за 0,5сек, в формате ease*/
}
.btn:hover {
	background-color: #a96d17;
}

.foto {
	margin-top: 72px; 
}

/*SECTION1==========================================*/

.learn {
	padding-top: 105px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
}

.skills {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.skill {
	width: 350px; 
	padding-left: 100px;
	background: url('../img/fox1lend/icon1.png') no-repeat left top;
}

.skill-title {
	font-size: 18px;
}

.skill-text {
	margin-top: 7px;
}

.skill2 {
	width: 380px; 
	background: url('../img/fox1lend/icon2.png') no-repeat left top;
}
.skill3 {
	background: url('../img/fox1lend/icon3.png') no-repeat left top;
}

/*SECTION2==========================================*/

.mail {
	padding-top: 171px;
	padding-bottom: 195px;
	background-color: #efecf4;
}

.form {
	margin-top: 40px;
}

.input {
	width: 472px;
	height: 54px;
	border: 2px solid #bfb8d1;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	border-radius: 100px;
	padding-left: 38px;
	
}

.btn-form {
	border: 0;
	cursor: pointer;
	display: inline;
	height: 54px;
	margin-left: 11px;
}

/*FOOTER==========================================*/

.footer {
	padding: 30px 0;
	background-color: #201b2d;
}

.credits {
	font-size: 13px;
	color: #fff;
	margin: 0;
}


















/*ГРАДИЕНТЫ: http://www.colorzilla.com/gradient-editor/*/
/*.gradient {
	background: #529882; 
	background: -moz-linear-gradient(-45deg, #529882 0%, #01170f 100%); 
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #529882), color-stop(100%, #01170f));
	background: -webkit-linear-gradient(-45deg, #529882 0%, #01170f 100%);  Chrome10+,Safari5.1+ 
	background: -o-linear-gradient(-45deg, #529882 0%, #01170f 100%); 
	background: -ms-linear-gradient(-45deg, #529882 0%, #01170f 100%); 
	background: linear-gradient(135deg, #529882 0%, #01170f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#529882', endColorstr='#01170f', GradientType=1 );
}*/
