
body {
	margin: 0;
	padding: 0;
}

img {
	opacity: 0.4;
}

img:hover {
	opacity: 1; 
}

.content {
	width: 800px;
	margin: 0 auto;
	margin-top: 150px;
}

.fox {
	float: left;
}

.cat {
	float: right;
}
