
body {
	margin: 0px;
	padding: 0px;
	background-color: #F7F8E0;
	font-family: Arial;
	font-size: 25px;
}

img {
	border-radius: 50%;
	opacity: 0.5;
}

img:hover {
	opacity: 1; 
}

.content {
	margin-top: 100px;
	text-align: center;
	display: flex; 
	justify-content: center;
}

