
body {
	font-family: 'Tahoma';
	font-size: 15px;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

p, a, div {
	box-sizing: border-box;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 26px;
	text-align: center;
}

h3 {
	font-size: 22px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.clearfix {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

/*header=============*/

header {
	background: #4e8598;
	color: #fff;
	padding: 50px 0;
	text-align: center;
}

h1 {
	font-size: 27px;
	line-height: 38px;
	margin-top: 183px;
	margin-bottom: 30px;
}

.btn {
	width: 221px;
	font-size: 13px;
	font-weight: bold;
	display: block;
	border: 1px solid #fff;
	border-radius: 50px;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	padding: 18px 0;
	margin: 0 auto;
	text-transform: uppercase;
}

.arrow {
	margin-top: 176px;
}


/*about==========*/

.about {
	padding-top: 74px;
	padding-bottom: 145px;
}

.h3elit {
	margin-bottom: 26px;
}
.h3elit:after {
	display: block;
	margin-top: 13px;
	content: '';
	width: 72px;
	height: 3px;
	background: #4e8598;
}

.wrap {
	margin-top: 83px;
}

.wrap_mission {
	float: left;
	width: 386px;
}

.wrap_mission-text {
	padding-top: 1px;
}

.wrap_medals {
	float: right;
	width: 476px;
}

.wrap_medals-list {
	color: #4e8598;
	font-size: 16px;
	font-weight: bold;
}

.medal {
	background: url(bug.png) no-repeat left center;
	padding: 22px 0;
	padding-left: 60px;
}
.medal:nth-child(2) {
	background: url(bell.png) no-repeat left center;
}
.medal:nth-child(3) {
	background: url(storm.png) no-repeat left +8px center;
}
.medal:nth-child(4) {
	background: url(camera.png) no-repeat left center;
}

.medal span {
	margin-left: 27px;
	color: #b6b8b8;
	font-size: 15px;
}

/*arguments==========*/

.arguments {text-align: center;}
.arguments h2 {
	margin-bottom: 66px;
}
.argunents-list {
	display: flex;
	justify-content: space-around;
	margin-bottom: 47px;
}

.argument {
	width: 230px;
}
.argument p {
	font-size: 16px;
	font-weight: bold;
}

.circle {
	width: 76px;
	height: 76px;
	font-size: 30px;
	line-height: 72px;
	text-align: center;
	margin: 0 auto;
	border: 2px solid #000;
	border-radius: 50%;
}
.circle:hover {
	color: #fff;
	background: #000;
}
.offerend {
	width: 424px;
	margin: 0 auto;
}
.offerend p {
	font-size: 14px;
	margin-top: 21px;
	margin-bottom: 28px;
}
.btn-black {
	background: #000;
	color: #fff;
	margin-bottom: 74px;
}

/*footer==========*/

footer {
	background: #2f383b;
	padding: 50px 0;
	color: #b5b7b8;
	font-size: 13px;
}
.footer-flex {
	display: flex;
	justify-content: space-between;
}
.linkconf a{
	color: #fff;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px dotted #fff;
}
.linkconf a:hover {
	color: red;
	text-decoration: none;
}